.modal-confirm .uk-form-label {
  color: var(--black);
  font-weight: bold;
}
.modal-confirm .uk-position-top-right {
  top: 10px;
  right: 10px
}

.uk-card-body {
  padding: 42px 30px;
  width: 406px;
  border-radius: 10px;
}

.modal-confirm h3 {
  margin-top: 0;
}

.modal-confirm .custom-input {
  background: var(--black);
  border: 1px solid #fff;
  border-radius: 100px;
  width: 148px;
  color: #ffffff;
  font-weight: bold;
  padding: 0 20px;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal-confirm .gap-items {
  gap: 4px;
  padding-bottom: 30px;
}

.modal-confirm .custom-input.white {
  background: transparent;
  border: none;
  color: var(--black)
}

.modal-confirm .uk-flex-row {
  justify-content: flex-end;
}
